In [1]:
import pandas as pd

In [113]:
#Question 1
df = pd.read_csv("fifa.csv")

#Question 2
df.info()
print('Number of rows in the fifa.csv:',df.shape[0])
print('Number of columns in the fifa.csv:',df.shape[1])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 60 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Photo                     18207 non-null  object
 4   Nationality               18207 non-null  object
 5   Flag                      18207 non-null  object
 6   Overall                   18207 non-null  int64
 7   Potential                 18207 non-null  int64
 8   Club                      17966 non-null  object
 9   Club Logo                 18207 non-null  object
 10  Value                     18207 non-null  object
 11  Wage                      18207 non-null  object
 12  Preferred Foot            18159 non-null  object
 13  International Reputation  18159 non-null  float64
 14  Weak Foot                 18159 non-null  float64
 15  Skill Moves               18159 non-null  float64
 16  Work Rate                 18159 non-null  object
 17  Body Type                 18159 non-null  object
 18  Position                  18147 non-null  object
 19  Jersey Number             18147 non-null  float64
 20  Joined                    16654 non-null  object
 21  Loaned From               1264 non-null   object
 22  Contract Valid Until      17918 non-null  object
 23  Height                    18159 non-null  object
 24  Weight                    18159 non-null  object
 25  Crossing                  18159 non-null  float64
 26  Finishing                 18159 non-null  float64
 27  HeadingAccuracy           18159 non-null  float64
 28  ShortPassing              18159 non-null  float64
 29  Volleys                   18159 non-null  float64
 30  Dribbling                 18159 non-null  float64
 31  Curve                     18159 non-null  float64
 32  FKAccuracy                18159 non-null  float64
 33  LongPassing               18159 non-null  float64
 34  BallControl               18159 non-null  float64
 35  Acceleration              18159 non-null  float64
 36  SprintSpeed               18159 non-null  float64
 37  Agility                   18159 non-null  float64
 38  Reactions                 18159 non-null  float64
 39  Balance                   18159 non-null  float64
 40  ShotPower                 18159 non-null  float64
 41  Jumping                   18159 non-null  float64
 42  Stamina                   18159 non-null  float64
 43  Strength                  18159 non-null  float64
 44  LongShots                 18159 non-null  float64
 45  Aggression                18159 non-null  float64
 46  Interceptions             18159 non-null  float64
 47  Positioning               18159 non-null  float64
 48  Vision                    18159 non-null  float64
 49  Penalties                 18159 non-null  float64
 50  Composure                 18159 non-null  float64
 51  Marking                   18159 non-null  float64
 52  StandingTackle            18159 non-null  float64
 53  SlidingTackle             18159 non-null  float64
 54  GKDiving                  18159 non-null  float64
 55  GKHandling                18159 non-null  float64
 56  GKKicking                 18159 non-null  float64
 57  GKPositioning             18159 non-null  float64
 58  GKReflexes                18159 non-null  float64
 59  Release Clause            16643 non-null  object
dtypes: float64(38), int64(4), object(18)
memory usage: 8.3+ MB
Number of rows in the fifa.csv: 18207
Number of columns in the fifa.csv: 60

In [114]:
#Question 3
df = df.drop(columns =['Photo','Flag','Club Logo'])

In [115]:
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,193080,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,€60K,€1K,Right,...,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0,€143K
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,€60K,€1K,Right,...,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0,€113K
18204,241638,B. Worman,16,England,47,67,Cambridge United,€60K,€1K,Right,...,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,€60K,€1K,Right,...,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,€60K,€1K,Right,...,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K

In [117]:
#Question 4
df['Value'] = df['Value'].str.extract('€(.*)')
df['Wage'] = df['Wage'].str.extract('€(.*)')
df['Release Clause'] = df['Release Clause'].str.extract('€(.*)')

In [118]:
#Question 4
df['Value'] = (df.Value.replace(r'[KM]+$', '', regex=True).astype(float) * \
                df.Value.str.extract(r'[\d\.]+([KM]+)', expand=False)
                .fillna(1)
                .replace(['K','M'], [10**3, 10**6]).astype(int))

df['Wage'] = (df.Wage.replace(r'[KM]+$', '', regex=True).astype(float) * \
                df.Wage.str.extract(r'[\d\.]+([KM]+)', expand=False)
                .fillna(1)
                .replace(['K','M'], [10**3, 10**6]).astype(int))

df['Release Clause'] = (df['Release Clause'].replace(r'[KM]+$', '', regex=True).astype(float) * \
                df['Release Clause'].str.extract(r'[\d\.]+([KM]+)', expand=False)
                .fillna(1)
                .replace(['K','M'], [10**3, 10**6]).astype(int))

In [126]:
df['Value']

0        110500000.0
1         77000000.0
2        118500000.0
3         72000000.0
4        102000000.0
            ...
18202        60000.0
18203        60000.0
18204        60000.0
18205        60000.0
18206        60000.0
Name: Value, Length: 18207, dtype: float64

In [127]:
df['Wage']

0        565000.0
1        405000.0
2        290000.0
3        260000.0
4        355000.0
           ...
18202      1000.0
18203      1000.0
18204      1000.0
18205      1000.0
18206      1000.0
Name: Wage, Length: 18207, dtype: float64

In [128]:
df['Release Clause']

0        226500000.0
1        127100000.0
2        228100000.0
3        138600000.0
4        196400000.0
            ...
18202       143000.0
18203       113000.0
18204       165000.0
18205       143000.0
18206       165000.0
Name: Release Clause, Length: 18207, dtype: float64

In [119]:
#Question 5
df['Joined']=df['Joined'].str.extract('.*, (.*)').astype(float)

In [125]:
df['Joined']

0        2004.0
1        2018.0
2        2017.0
3        2011.0
4        2015.0
          ...
18202    2017.0
18203    2018.0
18204    2017.0
18205    2018.0
18206    2018.0
Name: Joined, Length: 18207, dtype: float64

In [120]:
#Question 6
df['Contract Valid Until']= pd.to_datetime(df['Contract Valid Until'])
df['Contract Valid Until']

In [122]:
#Question 7
df['Height']=df['Height'].replace({'\'': '.'}, regex=True).astype(float)
df['Height']

0        5.70
1        6.20
2        5.90
3        6.40
4        5.11
         ...
18202    5.90
18203    6.30
18204    5.80
18205    5.10
18206    5.10
Name: Height, Length: 18207, dtype: float64

In [123]:
#Question 8
df['Weight']=df['Weight'].str.extract('(.*)lbs').astype(float)
df['Weight']

0        159.0
1        183.0
2        150.0
3        168.0
4        154.0
         ...
18202    134.0
18203    170.0
18204    148.0
18205    154.0
18206    176.0
Name: Weight, Length: 18207, dtype: float64

In [129]:
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500000.0,565000.0,Left,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,226500000.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000.0,405000.0,Right,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,127100000.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000.0,290000.0,Right,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,228100000.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000000.0,260000.0,Right,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,138600000.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000.0,355000.0,Right,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,196400000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,60000.0,1000.0,Right,...,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0,143000.0
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60000.0,1000.0,Right,...,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0,113000.0
18204,241638,B. Worman,16,England,47,67,Cambridge United,60000.0,1000.0,Right,...,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0,165000.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60000.0,1000.0,Right,...,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0,143000.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60000.0,1000.0,Right,...,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0,165000.0

In [133]:
##Question 9
missing_data_percentage = df.isnull().sum() * 100 / len(df)
missing_data_percentage

ID                           0.000000
Name                         0.000000
Age                          0.000000
Nationality                  0.000000
Overall                      0.000000
Potential                    0.000000
Club                         1.323667
Value                        0.000000
Wage                         0.000000
Preferred Foot               0.263635
International Reputation     0.263635
Weak Foot                    0.263635
Skill Moves                  0.263635
Work Rate                    0.263635
Body Type                    0.263635
Position                     0.329544
Jersey Number                0.329544
Joined                       8.529686
Loaned From                 93.057615
Contract Valid Until         1.587302
Height                       0.263635
Weight                       0.263635
Crossing                     0.263635
Finishing                    0.263635
HeadingAccuracy              0.263635
ShortPassing                 0.263635
Volleys                      0.263635
Dribbling                    0.263635
Curve                        0.263635
FKAccuracy                   0.263635
LongPassing                  0.263635
BallControl                  0.263635
Acceleration                 0.263635
SprintSpeed                  0.263635
Agility                      0.263635
Reactions                    0.263635
Balance                      0.263635
ShotPower                    0.263635
Jumping                      0.263635
Stamina                      0.263635
Strength                     0.263635
LongShots                    0.263635
Aggression                   0.263635
Interceptions                0.263635
Positioning                  0.263635
Vision                       0.263635
Penalties                    0.263635
Composure                    0.263635
Marking                      0.263635
StandingTackle               0.263635
SlidingTackle                0.263635
GKDiving                     0.263635
GKHandling                   0.263635
GKKicking                    0.263635
GKPositioning                0.263635
GKReflexes                   0.263635
Release Clause               8.590103
dtype: float64

In [162]:
##Question 9, imputation
df['Club']=df['Club'].fillna('Missing')
float_cols = df.columns[df.dtypes==float]
df[float_cols] = df[float_cols].fillna(0)
str_cols = df.columns[df.dtypes==object]
df[str_cols] = df[str_cols].fillna('Missing')

In [163]:
##Question 9, checking the percentage again
missing_data_percentage = df.isnull().sum() * 100 / len(df)
missing_data_percentage

ID                          0.000000
Name                        0.000000
Age                         0.000000
Nationality                 0.000000
Overall                     0.000000
Potential                   0.000000
Club                        0.000000
Value                       0.000000
Wage                        0.000000
Preferred Foot              0.000000
International Reputation    0.000000
Weak Foot                   0.000000
Skill Moves                 0.000000
Work Rate                   0.000000
Body Type                   0.000000
Position                    0.000000
Jersey Number               0.000000
Joined                      0.000000
Loaned From                 0.000000
Contract Valid Until        1.587302
Height                      0.000000
Weight                      0.000000
Crossing                    0.000000
Finishing                   0.000000
HeadingAccuracy             0.000000
ShortPassing                0.000000
Volleys                     0.000000
Dribbling                   0.000000
Curve                       0.000000
FKAccuracy                  0.000000
LongPassing                 0.000000
BallControl                 0.000000
Acceleration                0.000000
SprintSpeed                 0.000000
Agility                     0.000000
Reactions                   0.000000
Balance                     0.000000
ShotPower                   0.000000
Jumping                     0.000000
Stamina                     0.000000
Strength                    0.000000
LongShots                   0.000000
Aggression                  0.000000
Interceptions               0.000000
Positioning                 0.000000
Vision                      0.000000
Penalties                   0.000000
Composure                   0.000000
Marking                     0.000000
StandingTackle              0.000000
SlidingTackle               0.000000
GKDiving                    0.000000
GKHandling                  0.000000
GKKicking                   0.000000
GKPositioning               0.000000
GKReflexes                  0.000000
Release Clause              0.000000
dtype: float64